@import '../../../node_modules/react-keyed-file-browser/dist/react-keyed-file-browser.css';
.rendered-react-keyed-file-browser{
  padding: 0.5rem;
  a, p, span, table, h2, dl{
    color: white !important;
    font-size: 0.9rem;
  }
  th{
    font-size: 0.8rem;
  }
  svg{
    margin-right: 0.3rem;
  }
  div.files table tr.selected td.name::after{
    background: white!important;
  }
  .file{
    .name, .size, .modified{
       padding-left: 0.2rem;
       font-size: 0.8rem;
    }
    .size{
      font-size: 0.8rem;
    }
  }
  .item-actions{
    min-width: 100%;
    margin-left: 0px !important;
  }
  h2{
    font-size: 1rem;
    font-weight: bold;
  }  
}

div.rendered-react-keyed-file-browser div.action-bar input[type="search"]{
  min-width: 100%;
}
